.tweet-container {
  display: flex;
  flex-direction: column-reverse;
}

article {
  display: flex;
  width: 90%;
  flex-direction: column;
  padding: 1%;
  margin: 2%;
  width: 97%;
  border: 3px solid rgb(17, 16, 16);
  box-shadow: 10px 5px 5px  #8a8883;
}

.main{
  margin-bottom: 1%;
}

section.main{
  align-items: left;
}

.tweet-header {
  display: flex;
  align-items: center;
  height: fit-content;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  padding-right: 5%;
}

.imgAndName {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.userID {
  color: #8a8883;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-top: 3px solid #030303;
  padding-top: 1%;
}

.icons {
  height: 20px;
  width: 100px;
  color: rgb(41, 41, 125);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons :hover{
  opacity: .5;
  color: rgb(171, 171, 52);
}

.flag{
  margin-right: 10px;
}

.icons i,
.icons svg{
  color: rgb(60, 60, 141);
}
.heart{
  margin-right: 10px;
}